
SpaceTest.xcodeproj/project.xcworkspace/xcuserdata/dmitrijpomin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcbkptlist
*.xcuserstate
SpaceTest/.DS_Store
.DS_Store
SpaceTest/Controller/.DS_Store
.DS_Store
SpaceTest/Controller/.DS_Store
